* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* POSICIONAMENTOS */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.justify-space-btw {
    justify-content: space-between;
}

.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.align-top {
    align-items: start;
}

.align-center {
    align-items: center;
}

.align-bottom {
    align-items: end;
}

.vha-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    height: 100vh;
    background-color: #5bbad4;
    padding: 20px;
}

.page-title {
    color: #fff
}

/* LOGIN CADASTRO */

.logo-box {
    height: 200px;
    padding: 10px;
}

.logo {
    width: 300px;
    height: 70px;
}

.input {
    height: 50px;
    width: 80%;
    border-radius: 25px;
    border: 0;
    background-color: #7dcfe5;
    padding: 0 20px;
}

.input:focus {
    outline: none;
}

.button {
    height: 50px;
    width: 80%;
    border-radius: 25px;
    border: 0;
    background-color: #1a6f89;
    padding: 0 20px;

    color: #ddd;
    font-size: 17px;
}

.login-cadastro-toggle {
    color: #1a6f89;
    font-size: 15px;
}

.login-cadastro-toggle span {
    font-weight: bold;
}

.message-box {
    height: 20px;
}

.empty-fields {
    
    color: #ee3355;
    font-size: 17px;
}

/* CADEIRAS */

.cadeira-box {
    height: 100px;
    width: calc(100% - 10px);
    background-color: white;
    border-radius: 20px;
}

.cadeira-servicos {
    height: 100px;
    padding: 10px;
}

.cadeira-servicos h2,
.cadeira-servicos h3 {
    color: #fff
}

.selection-btn {
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid lightblue;
    font-size: 15px
}

.selection-btn-2 {
    width: 100px;
    height: 40px;
    background-color: #49a5c2;
    border-radius: 10px;
    border: 2px solid lightblue;

    font-weight: bold;
    font-size: 15px;
    color: #fff;
}

.servicos-list {
    height: 70%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 5px;
}

/* SERVICO - AGENDAMENTO */

.servico-title {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.servico-box {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.mes-ano-slider {
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
    background-color: #fff;
}

.mes-ano-calendario {
    width: 140px;
    font-weight: bold;
}

.calendario-box {
    padding: 10px;
    border-radius: 0 0 10px 10px;
    height: 230px;
    background-color: #fff;
    font-weight: bold;
}

table {
    width: 100%; /* Define a largura total da tabela */
    border-collapse: collapse; /* Remove o espaçamento entre as células */
}

th, td {
    text-align: center; /* Centraliza o texto dentro das células */
    /* padding: 5px; Espaçamento interno das células */
    width: 40px;
    height: 30px;
}

/* Estilos para espaçar igualmente as colunas */
th:first-child, td:first-child {
    padding-left: 10px; /* Espaçamento extra à esquerda para a primeira coluna */
}

th:last-child, td:last-child {
    padding-right: 10px; /* Espaçamento extra à direita para a última coluna */
}

.dia-selecionado {
    color: #fff;
    background-color: #7dcfe5;
    border-radius: 3px;
}

.dia-folga {
    color: red;
}

.hoje {
    color: blue;
}

.horas-box {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    row-gap: 10px;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.hora-normal {
    font-weight: bold;
    width: 45px;
    height: 30px;
}

.hora-selecionada {
    background-color: #7dcfe5;
    color: #fff;
    border-radius: 3px;
}

/* AGENDAMETOS */

.agendamento-box {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

/* LARGURAS */

.w100 {
    width: 100%
}